.about {
  padding: 10px 18px;
  min-height: 100vh;
  background-color: #e5dec2;
  &__title {
    margin: 0;
    font-size: 32px;
    line-height: 50px;
    padding: 5px 0;
    color: #544816;
  }
  &__description {
    padding: 0 5px;
    color: black;
    font-size: 15px;
  }
   p {
     padding: 2px 0;
     line-height: 20px;
   }
  input[type="image"] {
    border: 1px solid #544816;
    width: 100px;
    border-radius: 5px;
    padding: 10px;
    background: #fffae7;
  }
  form {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 20px;
    span {
      position: absolute;
      bottom: 0;
      font-weight: bold;
    }
  }
  a {
    color: #544816;
    font-weight: bold;
  }

}
