.crafting-result {
  display: grid;
  grid-gap: 5px;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(170px, max-content));
  padding: 5px;
  &__empty {
    display: flex;
    align-items: center;
    font-size: 24px;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
    width: 100vw;
    height: 100vh;
    text-align: center;
    color: #845a25;
    a {
      color: #ec880e;
    }
  }

}
.crafting-counter {
  font-weight: bold;
  padding: 0 20px;
  text-align: right;
  color: #bcb8a4;
  &__current {
    color: #f29900;
  }
  &__owned {
    color: green;
  }
}
